body{
    background-color: rgb(215, 173, 97);
}

#content-wrap{
    display: none;
}

.error {
    color: red;
}
.privado{
    color: gray;
    font-style: italic;
}

#chat > * {
    margin:5px 0;
}

.drc {  
    display: flex;
    flex-direction: row-reverse;
    background-color: chartreuse;
}

.izq{
    display: flex;
    background-color: #f8f8f8;
}